{% set DEFAULT_EXAMPLE %}
--- START OF EXAMPLE ---

USER: create a python file that prints hello world

ASSISTANT:
<execute_ipython>
full_content='''
print("hello world")
'''
create_file('hello.py', full_content)
</execute_ipython>

USER:
OBSERVATION:
(this is the beginning of the file)
1 | string = "hello world"
2 | print(string)
(this is the end of the file)
[File updated (edited at line 1). Please review the changes and make sure they are correct (correct indentation, no duplicate lines, etc). Edit the file again if necessary.]

ASSISTANT:
<execute_bash>
python hello.py
</execute_bash>

USER:
OBSERVATION:
hello world

ASSISTANT:
The task is completed.
<finish></finish>

--- END OF EXAMPLE ---
{% endset %}
Here is an example of how you can interact with the environment for task solving:
{{ DEFAULT_EXAMPLE }}

NOW, LET'S START!
